@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
@import "variables";
@import "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    @include listStyle;
}

html{ font-size: 10px; }

body{
    color: $stone_600;
    background-color: $stone_100;
    @include textRegular;
}

main{
    max-width: 100%;
    background-color: $white;
    overflow: hidden;
    margin-bottom: 3.2rem;
    @media (min-width: 768px) {
        width: 61.6rem;
        margin: 12.8rem auto 5rem;
        padding: 4rem;
        border-radius: 2.4rem;
    }
    @media (min-width: 1260px){
        width: 73.6rem;
    }
    .container{
        width: 85%;
        margin: auto;
        @media (min-width: 768px){
            width: 100%;
        }
    }
    .recipe__header{
        width: 100%;
        margin-bottom: 3.2rem;
        &-cover{
            img{
                width: 100%;
                margin-bottom: 4rem;
                @media (min-width: 768px){
                    border-radius: 1.2rem;
                }
            }
        }
        &-title{
            @include title_h1;
            margin-bottom: 2.4rem;
        }
    }
    .recipe__preparation{
        .recipe__time{
            padding: 2.4rem;
            background-color: $rose_50;
            border-radius: 1.2rem;
            margin-bottom: 3.2rem;
            h2{
                @include title_h3;
            }
            ul{
                @include listStyle;
                li{
                    @include li;
                }
                li::before{
                    color: $rose_800;
                    @include li_bullet
                }
            }
        }
    }
    .recipe__ingredients{
        @include article;
        h2{
            @include title_h2;
        }
        ul{
            @include listStyle;
            padding-left: .8rem;
            li{
                @include li;
            }
            li::before{
                @include li_bullet;
            }
        }
    }
    .recipe__instructions{
        @include article;
        h2{
            @include title_h2
        }
        ol{
            list-style-position: outside;
            padding-left: 3rem;
            li{
                text-indent: 0rem;
                padding-left: 1rem;
                font-family: 'Outfit';
            }
            li::marker{
                color: $brown_800;
                font-weight: 700;
            }
        }
    }
    .recipe__nutrition{
        margin-bottom: 32px;
        @media (min-width: 768px) {
            margin-bottom: 0;
        }
        h2{
            @include title_h2
        }
        p{
            margin-bottom: 1.2rem;
        }
        table{
            width: 100%;
            tr{
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-content: space-between;
                border-bottom: 1px solid $stone_100;
                padding: 1.2rem 3.2rem;
                td:last-child{
                    color: $brown_800;
                    font-weight: 700;
                }
            }
            tr:last-child{
                border: none;
            }
        }
    }
}

footer{ 
    font-size: 11px; 
    text-align: center;
    margin-bottom: 5rem;
    a { 
        color: $rose_800;
        font-weight: 700; 
    }
}